html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.dinoMite {
    background-image: url("../images/dinosaur-background-20851282041923qTUN.jpg");
    margin-top: -40px;
    height: 480px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.instructions {
    margin-right: 50%;
    margin-top: -20px;
    margin-bottom: 10px;
}

.lastResult {
    color: white;
    padding: 3px;
}

.hidden {
    display: none;
}
