body {
    background-color: #b5d7fc;
    max-width: 900px;
}

body {
    background-image: url("../images/dinosaur-background-20851282041923qTUN.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-right: 320px;
}

section {
    padding-top: 5%;
    padding-left: 5%;
}

p.content {
    max-width: 380px;
}
